.cxx/

*.iml
.gradle
.idea/

.DS_Store
/build
/captures
.externalNativeBuild

*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/
*.log
.navigation/
captures/

.externalNativeBuild
freeline.py
freeline/
freeline_project_description.json

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
fastlane/readme.md

vcs.xml

lint/intermediates/
lint/generated/
lint/outputs/
lint/tmp/

keystore.properties
release/